CURRENT FILE:

Document:0
{% if current_buffer_path %}
Title: {{ current_buffer_path }}
{% endif %}
Content:
```{{ current_buffer_filetype }}
{{ current_buffer_context }}
```

{% if context_files %}
CONTEXT FILES:

  {% for file in context_files %}
Document:{{ loop.index }}
Title: {{ file.path }}
Content:
```
{{file.content}}
```
  {% endfor %}
{% endif %}

{% if visual_selection %}
SELECTION:

```{{ current_buffer_filetype }}
{{ visual_selection }}
```

  {% if prefill %}
INSTRUCTION: Replace the code in the SELECTION given above. ONLY return the valid code fragment surrounded by a code fence with backticks.
  {% else %}
INSTRUCTION: Replace the code in the SELECTION given above. ONLY return the code fragment that is requested in the query WITHOUT backticks. DO NOT surround the code fragment in backticks.
  {% endif %}
{% else %}
INSTRUCTION: Follow the user query from the position marked with <CURSOR_POS> in the CURRENT FILE. ONLY return the code fragment that is requested in the query WITHOUT backticks. DO NOT surround the code fragment in backticks.
{% endif %}
QUERY: {{ user_query }}
